<h2>Aktuelle Filme</h2>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <td>#</td>
            <td>Titel</td>
            <td>FSK</td>
            <td>Laenge</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tr th:each="film, counter: ${filme}">
        <td th:text="${counter.count}"></td>
        <td th:text="${film.getTitel()}"></td>
        <td th:text="${film.getFSK()}"></td>
        <td th:text="${film.getLaenge()}"></td>
    </tr>
</table>
        