<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">JS Vorlage</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Du hast es geschafft! Deine JavaSpring-Vorlage läuft wie gewünscht und nun studiere den Quellcode. Achte auf die Kommentare und kopiere das Repo in deinen eigenen GitHub-Account!</p>
      <p>Du kannst unter Personen beispielhaft Personen betrachten (dynamisch generierte Tabelle), Personen löschen inkl. Bestätigung und neue Personen anlegen. Es ist auch möglich, Personen zu ändern.</p>
      <p>Wichtig ist, dass alle Veränderungen an Personen nur während der Laufzeit des Programmes sichtbar sind!</p>
      <p>Viel Erfolg!</p>
    </div>
  </div>